/* ustawienia ogolne */
body {
    font-family: "Roboto", "Raleway", sans-serif;
    color: var(--black-text);
}
:root {
    --body-background: #ffffff;
    --slogan-background: #2f303a;
    --black-text: #212121;
    --grey-background: #f5f4fa;
    --gery-text: #757575;
    --webstudio-blue: #2196f3;
}
.whole-body {
    position: relative;
    width: 1600px;
    height: 2349px;
    background-color: var(--body-background);
    color: var(--black-text);
}
.whole-body-portfolio {
    background-color: var(--body-background);
    color: var(--black-text);
}

/* sekcja head */

.head-header {
    position: absolute;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;
    background-color: var(--body-background);
}
.head-header ul,
.head-header > ul > li > ul {
    list-style-type: none;
}
/* .thin-line { border-bottom-width: 1px solid #000} */
.web-studio {
    text-decoration: none;
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;

    font-family: "Raleway";
    font-style: normal;
    font-size: 26px;
    line-height: 1.19;

    letter-spacing: 0.03em;
    color: #000;
}
.first-logo {
    color: var(--webstudio-blue);
}
.head-clickers {
    display: inline-block;
    position: absolute;
    width: 254px;
    height: 16px;
    left: 453px;
    top: 32px;
}
.head-clickers li {
    display: inline-block;
}
.head-clickers-inside {
    text-decoration: none;
    color: var(--black-text);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.head-clickers-inside:hover,
.head-clickers-inside:focus {
    color: var(--webstudio-blue);
}

.contacts {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.contacts a {
    color: var(--gery-text);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.telephone {
    position: absolute;
    width: 110px;
    height: 16px;
    left: 1263px;
    top: 32px;
    color: var(--gery-text);
}
.telephone:hover,
.telephone:focus {
    color: var(--webstudio-blue);
}
.mail {
    position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;
    color: var(--gery-text);
}
.mail:hover,
.mail:focus {
    color: var(--webstudio-blue);
}
/* sekcja slogan */

.face-header-slogan {
    position: absolute;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
    background-color: var(--slogan-background);
}
.slogan {
    position: absolute;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 280px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--body-background);
}
.btn-main {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    border: none;

    background: var(--webstudio-blue);
    color: var(--body-background);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1, 87;
    letter-spacing: 0.06em;

    cursor: pointer;
}
/* sekcja post */

.post-section {
    display: inline-block;
    position: absolute;
    width: 1170px;
    height: 101px;
    left: 215px;
    top: 774px;
    background-color: var(--body-background);
}
.post-section-headers {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    width: 270px;
    height: 16px;
    left: 215px;
    top: 774px;
    color: var(--black-text);
}
.post-section-inside {
    width: 270px;
    height: 75px;
    left: 215px;
    top: 800px;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--gery-text);
}
.post-section li {
    display: inline-block;
}

/* sekcja co robimy */

.what-we-are-doing {
    position: absolute;
    width: 1170px;
    height: 386px;
    left: 215px;
    top: 969px;
    background-color: var(--body-background);
}
.what-we-are-doing li {
    display: inline-block;
}
.what-we-are-doing-head {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--black-text);
}

/* sekcja ludzie */

.people {
    display: inline-block;
    position: absolute;
    width: 1600px;
    height: 648px;
    left: 0px;
    top: 1449px;
    background-color: var(--grey-background);
}
.people li {
    display: inline-block;
}
.people-header {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}
.people-box {
    width: 270px;
    height: 368px;
    left: 215px;
    top: 1635px;

    background: #ffffff;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.people-name {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    font-weight: 500;

    color: var(--black-text);
}

.people-function {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--gery-text);
}
/* stopa */
.footer-webstudio li {
    list-style-type: none;
}
.footer-webstudio {
    position: absolute;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2097px;

    background-color: var(--slogan-background);
}
.web-studio2 {
    font-family: "Raleway";
    font-style: normal;
    font-size: 26px;
    line-height: 1.19;

    letter-spacing: 0.03em;
    color: var(--body-background);
    text-decoration: none;
}
.adress {
    font-style: normal;
    width: 246px;
    height: 21px;
    left: 215px;
    top: 2208px;

    font-size: 14px;
    line-height: 2;

    color: var(--body-background);
}
.tel-mail {
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    letter-spacing: 0.03em;
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
}
.tel-mail:hover,
.tel-mail:focus {
    color: var(--webstudio-blue);
}

/* portfolio guziki */
.buttons-portfolio li {
    list-style-type: none;
}
.buttons-portfolio-type {
    width: 93px;
    height: 38px;
    left: 639px;
    top: 174px;
    border: none;
    background: #f5f4fa;
    border-radius: 4px;

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;

    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;

    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
}
.buttons-portfolio-type:hover,
.buttons-portfolio-type:focus {
    background-color: var(--webstudio-blue);
    color: var(--body-background);
    cursor: pointer;
}

.buttons-portfolio {
    display: flex;
    justify-content: center;
}

/* portfolio główna sekcja */
.main-section-portfolio {
    position: absolute;
    width: 1170px;
    height: 1360px;
    left: 215px;
    top: 174px;
}
.portfolio-objects ul {
    list-style-type: none;
}
.portfolio-objects-box {
    display: inline-block;
    box-sizing: border-box;
    width: 370px;
    height: 404px;
    left: 215px;
    top: 696px;

    background: var(--body-background);
    border: 1px solid #eeeeee;
}

.prtf-box-text {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--black-text);
}

.prtf-box-text-small {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--gery-text);
}
