/* =============== ustawienia ogolne =============== */
body {
    font-family: "Roboto", "Raleway", sans-serif;
    color: var(--black-text);
    background-color: var(--body-background);
}
:root {
    --body-background: #ffffff;
    --slogan-background: #2f303a;
    --black-text: #212121;
    --grey-background: #f5f4fa;
    --gery-text: #757575;
    --webstudio-blue: #2196f3;
}
* {
    margin: 0px;
}
ul,
ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.list-flex {
    display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    padding: 0px;
}

p {
    padding: 0;
}

.container {
    width: 1600px;
    margin: 0 auto;
    align-items: center;
}
.paddings {
    padding-top: 94px;
    padding-block: 94px;
}
/* ============ sekcja head ============== */

.head-header {
    background-color: var(--body-background);
    border-bottom-color: #ececec;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
.web-studio-possition {
    padding-top: 24px;
    padding-right: 93px;
    padding-bottom: 25px;
    padding-left: 215px;
}
.web-studio {
    font-family: "Raleway";
    font-style: normal;
    font-size: 26px;
    line-height: 1.19;

    letter-spacing: 0.03em;
    color: #000;
}
.first-logo {
    color: var(--webstudio-blue);
}

.head-clickers li {
    padding-top: 32px;
    padding-bottom: 32px;
    display: inline-block;
    padding-right: 46px;
}
.head-clickers-inside {
    color: var(--black-text);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.head-clickers-inside:hover,
.head-clickers-inside:focus {
    color: var(--webstudio-blue);
}

.contacts {
    padding-left: 371px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.contacts li {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 50px;
}
.contacts a {
    color: var(--gery-text);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.telephone,
.mail {
    color: var(--gery-text);
}

.telephone:hover,
.telephone:focus,
.mail:hover,
.mail:focus {
    color: var(--webstudio-blue);
}

/* =============== sekcja slogan =============== */

.face-header-slogan {
    text-align: center;
    height: 600px;
    background-color: var(--slogan-background);
}
.slogan {
    padding: 200px 452px 30px 452px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--body-background);
}
.button-main {
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    border: none;

    background: var(--webstudio-blue);
    color: var(--body-background);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1, 87;
    letter-spacing: 0.06em;

    cursor: pointer;
}
/* =============== sekcja post =============== */

.post-section {
    background-color: var(--body-background);
}
.post-list {
    padding-left: 215px;
    padding-right: 215px;
}

.post-section-headers {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--black-text);

    padding-bottom: 10px;
}
.post-section-inside {
    text-align: justify;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--gery-text);
}

/* =============== sekcja co robimy =============== */

.what-we-are-doing {
    background-color: var(--body-background);
}
.what-we-are-doing ul {
    padding-top: 50px;
    padding-bottom: 94px;
    justify-content: space-around;
}

.what-we-are-doing-head {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--black-text);
}

/* =============== sekcja ludzie =============== */

.people {
    background-color: var(--grey-background);
}
.people ul {
    justify-content: space-around;
}

.people-header {
    padding-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}
.people-box {
    background: #ffffff;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.people-name {
    padding-top: 30px;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    font-weight: 500;

    color: var(--black-text);
}

.people-function {
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--gery-text);
}
/* =============== stopa ===============*/
.footer-webstudio {
    background-color: var(--slogan-background);
    padding-left: 215px;
}
.footer-spaces {
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-spaces2 {
    padding-top: 9px;
}

.web-studio2 {
    font-family: "Raleway";
    font-style: normal;
    font-size: 26px;
    line-height: 1.19;

    letter-spacing: 0.03em;
    color: var(--body-background);
}

.adress {
    padding-top: 20px;
    font-style: normal;
    font-size: 14px;
    line-height: 2;

    color: var(--body-background);
}

.tel-mail {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
}
.tel-mail:hover,
.tel-mail:focus {
    color: var(--webstudio-blue);
}

/* =============== portfolio guziki ===============*/
.main-section-portfolio ul {
    padding-left: 215px;
    padding-right: 215px;
}
.buttons-portfolio-type {
    padding: 6px 22px 6px 22px;
    border: none;
    background: #f5f4fa;
    border-radius: 4px;

    border-radius: 4px;

    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;

    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
}
.buttons-portfolio-type:hover,
.buttons-portfolio-type:focus {
    background-color: var(--webstudio-blue);
    color: var(--body-background);
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.buttons-portfolio {
    padding-top: 94px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}

.buttons-portfolio li { padding-right: 8px;
}
/* =============== portfolio główna sekcja ===============*/

.portfolio-objects-box {
    display: inline-block;
    box-sizing: border-box;

    background: var(--body-background);
    border: 1px solid #eeeeee;
}

.prtf-box-text {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--black-text);
}

.prtf-box-text-small {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--gery-text);
}
